*, p, h1, h2, h3, h4, h5, h6, h7, button {
    /*font-family: 'Muli', sans-serif !important;*/
    font-family: 'Raleway', sans-serif !important;
}

p {
    line-height: 1.9em !important;
}

a:hover {
    text-decoration: underline;
}

header {
    margin-bottom: 60px !important;
}

#headdesc {
    margin-top: 80px !important;
}

#headdesc h2 {
    color: #385c74;
    font-size: 1.3rem !important;
}

#headdesc h2 a {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 800 !important;
    color: #385c74 !important;
    font-size: 1.3rem !important;
    text-decoration: none;
}

#headdesc p {
    color: #939090;
    font-size: 1.25rem;
    width: 90%
}

#socialbar-top {
    margin-right: 30px;
}

.socialbar {
    font-size: 2.0rem !important;
    text-align: center;
}
.socialbar a {
    color: #385c74 !important;
}

.socialbar a:hover {
    color: #d51316 !important;
}



h1, h2, h3, h4, h1 a {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 800 !important;
}

h1, h1 a {
    font-weight: 400;
}

h1, h1 a {
    font-size: 1.4rem !important;
    color: #939090;
}

h2 {
    font-size: 1.4rem !important;
}

h3 {
    font-size: 1.30rem !important;
}

article > h3 {
    font-size: 1.40rem !important;
    margin-bottom: 35px;
}

#me {
    text-align: center;
}

#me > img {
    display: inline;
}


#me > h2 {
    display: none;
}

h1 span#icon {
    background-color: #385c74;
    padding: 14px;
    margin-right: 10px;
    cursor: pointer;
}

article {
    margin-bottom: 100px;
    width: 98%;
}

.footnotes {
    padding-left: 20px;
}

.footnotes p {
    font-size: 0.9rem;
    display: inline;
    line-height: 1.4rem;
}
.footnotes ol li {
    font-size: 0.9rem;
    margin-bottom: 10px;
}
.footnotes ol li > a {
    float: right;
    display: inline;
    margin-right: 50px;
}

article h6 {
    color: #939090;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 800 !important;
}

article h3 a {
    color: black !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 800 !important;
    font-size: 1.15em;
}

article p {
    font-size: 1.15rem;
}

article h6 {
    color: #888;
}

article h3 {
    font-weight: 400;
    font-size: 1.8rem;
}

p, li {
}

blockquote {
    position: relative;
    padding: 10px;
    background-color: #eee;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-left: 2px solid #999;
}

blockquote p {
    color: #444;
    margin-left: 15px;
    line-height: 30px;
}

blockquote::before {
    content: '\201C';
    font-size: 20pt;
    float: left;
    color: #888;
    margin-top: 3px;
}

blockquote p::after {
    content: '\201D';
    font-size: 20pt;
    color: #888;
    line-height: .3;
    vertical-align: -6px;
}

sup { vertical-align: top;
 font-size: 0.9em;
 font-weight: bold;
 position: relative;
 top: -0.5em;
 }

cite {
    float: right;
    display: block;
}

article ul, article ol, .tagoverview > ul {
    padding-left: 10px;
}

article ul > li, .tagoverview > ul > li {
    font-size: 1.20rem;
    list-style: none;
    margin-bottom: 25px;
    line-height: 1.9em !important;
}
article ol > li {
    font-size: 1.20rem;
    margin-bottom: 25px;
    line-height: 1.9em !important;
}
article ul > li:before, .tagoverview > ul > li:before {    
    font-family: "foundation-icons";
    font-size: 0.90rem;
    content: '\f10b ';
    margin:0 5px 0 -15px;
    color: #385c74;
}

blockquote .permalink {
    background-color: #fff;
    color: #555;
    float: right;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-top-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: none;
}

blockquote:hover .permalink  {
    display: block;
}

#sidebar {
    padding-left: 30px;
}

#sidebar h5 {
    color: #385c74;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 800 !important;
    border-radius: 16px;
    border: 1px solid black;
    display: block;
    border-color: #c9c9c9;
    width: 80%;
    padding-left: 7px;
}

#sidebar li {
    line-height: 22px;
    margin-left: 10px;
}

#sidebar li a {
    color: #385c74 !important;
    font-size: 1.0rem;
}

footer {
    background-color: #385c74;
    margin: 0px !important;
    padding: 0px !important;
}

footer p {
    margin-top: 40px;
    color: white !important;
    font-size: 1.2em !important;

    text-align: center;
}

footer p a {
}


.infos i {
    font-size: 2.0rem !important;
    color: white !important;
}
.infos {
    color: white !important;
    font-size: 1.2em !important;
    margin-bottom: 100px;
}

.infos a:hover {
    color: #d51316 !important;
}

#socialbar-second {
    display: none;
}

@media only screen and (max-width: 460px) {
    header > div > h1 {text-align: center;
    background-color: #385c74;
    color: white;
                      }
    #icon {display: none;}
    #socialbar-top {display: none;}
    #desc {
        display: none;
    }

    #socialbar-second {
        display: block;
    }

    #me > h2 {
        display: block;
    }

    #me > img {
        width: 50%;
        height: 50%;
    }

    
    header {
        margin-bottom: 40px !important;
    }

    #headdesc {
        margin-top: 20px !important;
    }

    article h3 {
        font-size: 0.8rem;
    }

    article h2 {
        font-size: 0.85rem;
    }

    article h4 {
        font-size: 0.7rem;
    }

    article p {
        font-size: 1.0rem;
    }

    blockquote p {
        font-size: 1.0rem;
    }

    article {
        margin-bottom: 20px !important;
    }

    
    article ul > li {
        font-size: 1.00rem;
        list-style: none;
        margin-bottom: 25px;
    }

    
    article ol > li {
        font-size: 1.00rem;
        margin-bottom: 25px;
    }
}

p.anchor {
    color: #999;
    font-size: 3.0rem;
    text-align: center;
}

#archivelink a {
    color: white !important;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 800 !important;
}

#archivelink {
    background-color: #385c74 !important;
    border-color: #385c74 !important;
}

pre {
    margin-bottom: 25px;
    margin-top: 25px;
}

pre > code * {
    font-family: Consolas, "Liberation Mono", Courier, monospace !important;
    font-weight: normal !important;
    font-size: 0.9rem !important;
}

pre > code {
    line-height: 1.4rem !important;
    font-family: Consolas, "Liberation Mono", Courier, monospace !important;
    font-weight: normal !important;
    font-size: 0.84rem !important;
    border-radius: 16px;
    overflow: scroll;
    padding: 20px;
}

/* Pager */

#previous-page, #next-page {
    font-size: 1.2rem !important;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 800 !important;
    text-decoration: underline;
}

/* Org mode footnotes structure */

#footnotes {
    padding-left: 20px;
}

#footnotes > h2 {
    display: none;
}

.footdef {
    font-size: 0.9rem;
    display: inline;
    line-height: 1.4rem;
}
.footdef sup {
    float: left;
}
.footdef p {
    padding-left: 20px;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

/* Remove org mode numbers in headlines */
article h2 > span, article h3 > span, article h4 > span, h5 > span {
    display: none;
}

.screenshot {
    border: 1px solid gray;
}

/* Org mode sets left / right tags on tables, which infers with foundation */
table .left {
    float: none !important;
    text-align: left;
}

table .right {
    float: none !important;
    text-align: right;
}

p > code, li > code, a > code {
    font-weight: normal;
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 7px;
    background-color: #eee;
    font-family: Consolas, Courier, monospace !important;
    color: black !important;
}

#followme {
    background-color: gainsboro;
    padding: 10px;
    border-radius: 16px 16px 16px 16px;
    text-align: center;
    font-weight: bold;
    margin-top: 33px;
    margin-bottom: 33px;
}

#followme a {
    color: navy !important;
}

#swiftblogs div {
    background-color: #eee;
    border-radius: 8px;
    margin-bottom: 60px;
}
#swiftblogs ul {
    list-style-type: none;
}
#swiftblogs li {
    list-style-type: none;
    margin-left: 0px;
    width: 180px;
    padding-bottom: 10px;
}
#swiftblogs li a:before {
    content: "→ ";
}
#swiftblogs li a {
    font-size: 0.9rem !important;
}

#swiftblogs h6 {
    padding-top: 15px;
    text-align: center;
    font-weight: bold;
}
.hljs {
    border: 1px solid #bbb;
}

#text-table-of-contents {
    border: 1px solid #bbb;
    border-radius: 16px;
    display: inline-flex;
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;
    padding: 7px;
}

#table-of-contents h2 {
    display: none;
}

#text-table-of-contents li::before {
    content: ""
}

#text-table-of-contents li {
    font-size: 14px;
    line-height: 1.05em;
    margin-bottom: 0px;
}

#text-table-of-contents li a {
    color: black;
    border-bottom: 1px solid #aaa;
}
#text-table-of-contents > ul > li {
    font-weight: bold;
}
#text-table-of-contents > ul > li > ul > li {
    font-weight: normal;
}

.twitter-follow-button  {
    margin-top: 20px;
}

/* New Nav Bar */
.contain-to-grid {
    background-color: rgba(255, 255, 255, 0.75) !important;
}

.top-bar {
    background-color: rgba(255, 255, 255, 0.8) !important;
}

#scrol > #back-to-top {
    color: #111 !important;
    font-size: 30px !important;
    margin-right: 30px;
}

#found-bug {
    font-weight: normal;
}

/*
looks great, but I'm not sure if it will confuse readers, so keeping it off for now

@font-face {
font-family: Hasklig-Medium;
src: url("/fonts/Hasklig-Medium.otf") format("opentype");
}

code.hljs, code.hljs span {
    font-family: Hasklig-Medium !important;
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
    -webkit-font-feature-settings: "kern";
	font-feature-settings: "kern";
	font-kerning: normal;
}
*/

/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/raleway-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
       url('/fonts/raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/raleway-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/raleway-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/raleway-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/raleway-v12-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/raleway-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Raleway Bold'), local('Raleway-Bold'),
       url('/fonts/raleway-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/raleway-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/raleway-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/raleway-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/raleway-v12-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/open-sans-v15-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('/fonts/open-sans-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/open-sans-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/open-sans-v15-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/fonts/open-sans-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/open-sans-v15-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('/fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/open-sans-v15-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
       url('/fonts/open-sans-v15-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/open-sans-v15-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/open-sans-v15-latin-800.woff') format('woff'), /* Modern Browsers */
       url('/fonts/open-sans-v15-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/open-sans-v15-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}
